div>input {
    position: relative;
    top: 0;
    height: 50px;
    width: 400px;
    padding: 0px 10px 0px 10px;
    margin-bottom: 1rem;
    border: 1px solid #D0B0AB;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    outline: none;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 700;
}
div>select {
    position: relative;
    top: 0;
    height: 50px;
    width: 400px;
    padding: 0px 10px 0px 10px;
    margin-bottom: 1rem;
    border: 1px solid #D0B0AB;
    border-radius: 5px;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    outline: none;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 700;
}
.select{
      position: relative;
    top: 0;
    height: 50px;
    width: 400px;
    padding: 0px 10px 0px 10px;
    margin-bottom: 1rem;
    border: 1px solid #D0B0AB;
    border-radius: 5px;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    outline: none;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 700;
}
div>label {
    position: relative;
    top: 7px;
    z-index: 999;
    background-color: #F2DFDC;
    padding: 3px 15px 3px 15px;
    border-radius: 25px;
    left: 10px;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 12px;
    font-weight: 700;
    color: #5B5B5B;
}
.label{
       position: relative;
    top: 7px;
    z-index: 999;
    background-color: #F2DFDC;
    padding: 3px 15px 3px 15px;
    border-radius: 25px;
    left: 10px;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 12px;
    font-weight: 700;
    color: #5B5B5B;
}
.react-dropdown-select-option {
    
}