* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', 'sans-serif';
}

a {
  text-decoration: none;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 0px;
  background: linear-gradient(180deg, #EBEBEB 0%, rgba(235, 235, 235, 0) 100%);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}

*::-webkit-scrollbar {
  width: 16px;
  background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
  background-color: #F0E2FF;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}

.MuiTablePagination-actions {
  background-color: black;
  cursor: pointer;
}

.MuiTablePagination-actions path {
  color: white;
  cursor: pointer;
}

svg {
  cursor: pointer;
}

.loading-gif {
  background-color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}